@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Source Sans 3', sans-serif;
}

h3 {
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: .1px #1e1e1e;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.input-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.input {
  position: relative;
  width: 480px;
  height: 50px;
}
.input input,
.input select {
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  background-color: #fafafa;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  transition: .3s;
}
.input label {
  position: absolute;
  top: 14px;
  left: 20px;
  color: #777;
  pointer-events: none;
  transition: .5s;
}
.input textarea {
  padding-top: 17px;
}
.input input:focus ~ label,
.input input:not(:placeholder-shown) ~ label {
  top: 0;
  left: 15px;
  color: #070;
  font-size: 12px;
  font-weight: 500;
}
.input input:hover,
.input select:hover,
.input select:focus {
  background-color: #afa;
  border-color: #121212;
}
select, input::placeholder {
  color: #777;
}
select option:not(:first-of-type) {
  color: black;
}
select.selected {
  color: black;
}

.submit {
  width: 285px;
  height: 50px;
  background-color: #090;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.submit:hover {
  background-color: #070;
}

.table {
  overflow: auto;
}
.table::-webkit-scrollbar {
  display: none;
}
table {
  table-layout: fixed;
  background-color: #f4f4f4;
  border: 1px solid #777;
  border-radius: 0 0 12px 12px;
  border-collapse: separate;
  border-spacing: 0;
}
th, td {
  padding: 3px 24px;
  text-align: center;
  white-space: nowrap;
}
tr:not(:last-of-type), thead tr {
  & th, td {
    border-bottom: 1px solid #777;
  }
}
th:first-child {
  width: 56px;
}
table caption {
  padding: 23px;
  font-weight: bold;
  font-size: 20px;
  background-color: #f4f4f4;
  border: 1px solid #777;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}
thead {
  background-color: #e0e0e0;
}
.btn-icon {
  padding: 3px;
  width: 25px;
  cursor: pointer;
  transition: .3s;
  button {
    padding: 0;
    background: none;
    border: none;
  }
}
td:has(.btn-icon) {
  display: flex;
}
.btn-icon img {
  cursor: pointer;
  width: 100%
}
.btn-icon:hover {
  background-color: #e0e0e0;
}
.loader {
  margin: auto;
}